<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="text">    
        <p>&copy; All rights reserved for <i>Ivan Ciudad Espinar</i> 2022</p>        
    </div>
    <div>
        <a href="https://github.com/Srivix"><img width="26px" src="../../../assets/github.png" alt="Github"></a>
        <a href="mailto:ivanciudad98@gmail.com"><img width="26px" src="../../../assets/gmail.png" alt="Gmail"></a>
        <a href="https://twitter.com/Mrivix"><img width="26px" src="../../../assets/twitter.png" alt="Twitter"></a>
        <a href="https://www.linkedin.com/in/iv%C3%A1n-ciudad-espinar-2195191b2/"><img width="26px" src="../../../assets/linkedin.png" alt="LinkedIn"></a>
    </div>
</mat-toolbar>
