<mat-dialog-content>
    <div class="container">
        <h1>{{weapon.name}}</h1>
        <div class="photo">
            <img width="200px" src="http://localhost:8080/weapon/uploads/{{weapon.photo}}">
        </div>
        <div class="detail">
            <div class="properties">
                <div class="property">
                    <h3>{{weapon.weaponType.name}}</h3>
                </div>
                <div class="property">
                    <h3>Requerimientos: </h3>
                    <div *ngIf="weapon.dexReq!=0"><i>- Destreza: </i>{{weapon.dexReq}}</div>
                    <div *ngIf="weapon.strengReq!=0"><i>- Fuerza: </i>{{weapon.strengReq}}</div>
                    <div *ngIf="weapon.intReq!=0"><i>- Intelecto: </i>{{weapon.intReq}}</div>
                    <div *ngIf="weapon.faithReq!=0"><i>- Fe : </i>{{weapon.faithReq}}</div>
                    <div *ngIf="weapon.arcaneReq!=0"><i>- Arcano: </i>{{weapon.arcaneReq}}</div>
                </div>
                <div class="property">
                    <h3>Escalado: </h3>
                    <div *ngIf="weapon.dexScaling!='-'"><i>- Destreza: </i>{{weapon.dexScaling}}</div>
                    <div *ngIf="weapon.strengScaling!='-'"><i>- Fuerza: </i>{{weapon.strengScaling}}</div>
                    <div *ngIf="weapon.intScaling!='-'"><i>- Intelecto: </i>{{weapon.intScaling}}</div>
                    <div *ngIf="weapon.faithScaling!='-'"><i>- Fe : </i>{{weapon.faithScaling}}</div>
                    <div *ngIf="weapon.arcaneScaling!='-'"><i>- Arcano: </i>{{weapon.arcaneScaling}}</div>
                </div>
                <div class="property">
                    <h3>Descripción: </h3>
                    <div>{{weapon.description}}</div>
                </div>
                <div class="property">
                    <h3>Peso: </h3>
                    <div>{{weapon.weight}}</div>
                </div>
                <div *ngIf="authService.hasRole(role)" class="buttons">
                    <button mat-stroked-button  (click)="openModify(weapon)">Modificar Detalles</button>
                    <button mat-stroked-button>Modificar Foto</button>    
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
