.container {
    width: 350px;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .properties{
        display: flex;
        flex-direction: column;
        align-items: center;
        .property{
            h3{
                margin: 10px;
                font-weight: bold;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                text-align: justify;
            }
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
            background-color: grey;
            margin:5px
        }
    }

}

mat-dialog-content{
    overflow-x: auto;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;
}

@media screen and(max-width: 500px){
    .container{
        width: 180px;
    }
}