<mat-toolbar color="accent">
    <mat-toolbar-row class="header_container">
        <div class="header_title">            
            <a  routerLink="" routerLinkActive="active"><img src="./assets/eldenring.png" width="180px" alt="eldenringicon"></a>
        </div>
        <div class="header_login">
            <a>
                <div><mat-icon>account_circle</mat-icon></div>
                <div class="login">Entra</div>
            </a>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="header_menu">
        <div class="header_button">
            <a routerLink="/authors" routerLinkActive="active">Calculator</a>
        </div>
        <div class="header_button">
            <a routerLink="/authors" routerLinkActive="active">Builds</a>
        </div>
        <div class="header_button">
            <a routerLink="/weapons" routerLinkActive="active">Weapons</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
