<mat-toolbar>
    <mat-toolbar-row>
        <div class="header_container">
            <div class="header_title"> 
                <div class="iconandtitle">             
                    <div><img src="favicon.ico" width="64px" alt="eldenringicon"></div>
                    <div class="title"> Elden Ring Calculator</div>
                </div>
                <div class="header_login">
                    <div><mat-icon>account_circle</mat-icon> Sign in</div>
                </div>
            </div>
            <div class="header_menu">
                <div class="header_button">
                    <a routerLink="/authors" routerLinkActive="active">Calculator</a>
                </div>
                <div class="header_button">
                    <a routerLink="/authors" routerLinkActive="active">Builds</a>
                </div>
                <div class="header_button">
                    <a routerLink="/authors" routerLinkActive="active">Weapons</a>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
