.container {
  margin: 20px;
  text-align: center;
  h1{
    font-weight: bold;
    color: goldenrod;
  }
  .filters {
      display: flex;
      justify-content: space-around;
      mat-form-field {
          width: 300px;
          margin-right: 20px;
      }
  }

  .weapon-list { 
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 8%;
      margin-right: 8%;
      height:calc(100vh - 400px);
      justify-content: center;
      display: flex;
      flex-flow: wrap;
      overflow: auto;  
  }
  button{
    background-color: rgb(26, 24, 24);
  }
}

::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;
}
  