<div class="container">
    <h1>Listado de Armas</h1>
    <form>
        <div class="filters">
            <mat-form-field>
                <mat-label for="search-text">Buscar nombre: </mat-label>
                <input color="primary" type="text" matInput name="search-text" [(ngModel)]="searchText">
            </mat-form-field>

            <mat-form-field>
                <mat-label for="type"> Tipo de arma: </mat-label>
                <mat-select disableRipple [(ngModel)]="filterType" name="WeaponType">
                    <mat-option *ngFor="let type of weaponTypes" [value]="type">{{type.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button (click)="onCleanFilter()">Limpiar</button>
        </div>
    </form>
    <div class="weapon-list">
        <app-weapon-item *ngFor="let weapon of weapons | appFilterText: searchText | appFilterType: filterType" [weapon]="weapon" (click)="openDetail(weapon)">
        </app-weapon-item>
    </div>
</div>
