.container {
  margin: 20px;
  text-align: center;
  .filters {
      display: flex;
      justify-content: space-around;
      mat-form-field {
          width: 300px;
          margin-right: 20px;
      }
  }

  .weapon-list { 
      margin-top: 20px;
      margin-bottom: 20px;

      display: flex;
      flex-flow: wrap;
      overflow: auto;  
  }
  button{
    background-color: rgb(26, 24, 24);
  }
}

.mat-form-field{
    color: white;
}

  